/oop #1/alibaba.csproj
/lambda/lambda.csproj
/MVC/MVC.csproj
.idea/.idea.alibaba.dir/.idea/contentModel.xml
.idea/.idea.alibaba.dir/.idea/encodings.xml
.idea/.idea.alibaba.dir/.idea/indexLayout.xml
.idea/.idea.alibaba.dir/.idea/modules.xml
.idea/.idea.alibaba.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.alibaba.dir/.idea/vcs.xml
.idea/.idea.alibaba.dir/riderModule.iml
oop #1/Lamborghini.cs
oop #1/Person.cs
oop #1/Program.cs
oop #1/Saipa.cs
oop #1/Score.cs
oop #1/bin/
oop #1/interface.cs
oop #1/obj/Debug/
oop #1/obj/alibaba.csproj.nuget.cache
oop #1/obj/alibaba.csproj.nuget.dgspec.json
oop #1/obj/alibaba.csproj.nuget.g.props
oop #1/obj/alibaba.csproj.nuget.g.targets
oop #1/obj/project.assets.json
